/CapaNegocio/obj/
/CapaNegocio/bin/	
/CapaDatos/obj/
/CapaDatos/bin/	
/CapaEntidad/obj/
/CapaEntidad/bin/	
/CapaPresentacion/obj/
/CapaPresentacion/bin/
/.vs/
/CapaPresentacion/.vs/
*.cache

/CapaNegocio/CapaNegocio.csproj
/CapaEntidad/CapaEntidad.csproj
/CapaDatos/CapaDatos.csproj
